<% include header %>
    <div class="container" style="margin-top:50px">
        <h1>Hackathon Starter</h1>
        <p class="lead">A boilerplate for Node.js web applications.</p>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <h2>Heading</h2>
                <p> gnirsngioewhHeading</p>
                <p><a class="btn btn-default" href="#" role="button">View Details</a></p>
            </div>
            <div class="col-sm-6">
                <h2>Heading</h2>
                <p> gnirsngioewhHeading</p>
                <p><a class="btn btn-default" href="#" role="button">View Details</a></p>
            </div>
            <div class="col-sm-6">
                <h2>Heading</h2>
                <p> gnirsngioewhHeading</p>
                <p><a class="btn btn-default" href="#" role="button">View Details</a></p>
            </div>
            <div class="col-sm-6">
                <h2>Heading</h2>
                <p> gnirsngioewhHeading</p>
                <p><a class="btn btn-default" href="#" role="button">View Details</a></p>
            </div>
        </div>
    </div>
    <% include footer %>